### <font color="orange">すべてのデータを結合したデータを作成する。</font>

In [1]:
import pandas as pd

In [2]:
pd.set_option('display.max_rows', 50)
pd.set_option('display.max_columns', None)

### <font color="orange">0_preprocessingの実行</font>

In [3]:
# 自作関数の呼び出し
import sys
sys.path.append("../../../../")    # <- 親フォルダから呼び出すためにpathを追加する。
from my_package.excute_notebook import execute_notebook

In [4]:
notebook_files_path = [
    "../0_preprocessing/0_olist_orders_dataset/preprocessing_orders_dataset.ipynb",
    "../0_preprocessing/1_olist_order_reviews_dataset/preprocessing_review_dataset.ipynb",
    "../0_preprocessing/2_olist_order_payments_dataset/preprocessing_payments_dataset.ipynb",
    "../0_preprocessing/3_olist_order_item_dataset/preprocessing_items_dataset.ipynb"
]

for file_path in notebook_files_path:
    execute_notebook(file_path)

### <font color="orange">データの読み込み</font>

In [5]:
custom_orders_dataset = pd.read_csv("../../tmp_data_folder/1_custom_data/custom_orders_dataset.csv")
unique_olist_review_dataset = pd.read_csv("../../tmp_data_folder/1_custom_data/unique_olist_review_dataset.csv", dtype={'review_comment_title': 'str'})
custom_payments_dataset = pd.read_csv("../../tmp_data_folder/1_custom_data/custom_payments_dataset.csv")
custom_items_dataset = pd.read_csv("../../tmp_data_folder/1_custom_data/custom_items_dataset.csv")

In [6]:
print(f"orders   : {len(custom_orders_dataset)}")
print(f"review   : {len(unique_olist_review_dataset)}")
print(f"payments : {len(custom_payments_dataset)}")
print(f"items    : {len(custom_items_dataset)}")

orders   : 99441
review   : 98673
payments : 99437
items    : 102353

### <font color="orange">マージ</font>

In [7]:
# merge
merge_data = pd.merge(unique_olist_review_dataset[["order_id", "review_score"]], custom_orders_dataset, on="order_id", how="right")
merge_data = pd.merge(merge_data, custom_payments_dataset, on="order_id", how="left")
merge_data = pd.merge(merge_data, custom_items_dataset, on="order_id", how="left")

In [8]:
merge_data.head()

,order_id,review_score,order_status,order_approved_at,order_delivered_customer_date,order_estimated_delivery_date,count_payment_sequential,payment_type_credit_card,payment_type_boleto,payment_type_voucher,payment_type_debit_card,mean_credit_card_payment_installments,payment_value,seller_id,product_category_name_english,product_name_lenght,product_description_lenght,product_photos_qty,product_weight_g,product_volume
0,e481f51cbdc54678b7cc49136f2d6af7,4.0,delivered,2017-10-02 11:07:15,2017-10-10 21:25:13,2017-10-18 00:00:00,3.0,1.0,0.0,1.0,0.0,1.0,38.71,3504c0cb71d7fa48d967e0e4c94d59d9,housewares,40.0,268.0,4.0,500.0,1976.0
1,53cdb2fc8bc7dce0b6741e2150273451,4.0,delivered,2018-07-26 03:24:27,2018-08-07 15:27:45,2018-08-13 00:00:00,1.0,0.0,1.0,0.0,0.0,0.0,141.46,289cdb325fb7e7f891c38608bf9e0962,perfumery,29.0,178.0,1.0,400.0,4693.0
2,47770eb9100c2d0c44946d9cf07ec65d,5.0,delivered,2018-08-08 08:55:23,2018-08-17 18:06:29,2018-09-04 00:00:00,1.0,1.0,0.0,0.0,0.0,3.0,179.12,4869f7a5dfa277a7dca6462dcf3b52b2,auto,46.0,232.0,1.0,420.0,9576.0
3,949d5b44dbf5de918fe9c16f97b45f8a,5.0,delivered,2017-11-18 19:45:59,2017-12-02 00:28:42,2017-12-15 00:00:00,1.0,1.0,0.0,0.0,0.0,1.0,72.20,66922902710d126a0e7d26b0e3805106,pet_shop,59.0,468.0,3.0,450.0,6000.0
4,ad21c59c0840e6cb83a9ceb5573f8159,5.0,delivered,2018-02-13 22:20:29,2018-02-16 18:17:02,2018-02-26 00:00:00,1.0,1.0,0.0,0.0,0.0,1.0,28.62,2c9e548be18521d1c43cde1c582c6de8,stationery,38.0,316.0,4.0,250.0,11475.0

In [9]:
merge_data[merge_data.review_score.isnull()]

,order_id,review_score,order_status,order_approved_at,order_delivered_customer_date,order_estimated_delivery_date,count_payment_sequential,payment_type_credit_card,payment_type_boleto,payment_type_voucher,payment_type_debit_card,mean_credit_card_payment_installments,payment_value,seller_id,product_category_name_english,product_name_lenght,product_description_lenght,product_photos_qty,product_weight_g,product_volume
16,403b97836b0c04a622354cf531062e5f,NaN,delivered,2018-01-02 19:09:04,2018-01-20 01:38:59,2018-02-06 00:00:00,1.0,1.0,0.0,0.0,0.0,10.0,1376.45,c4af86330efa7a2620772227d2d670c9,construction_tools_construction,38.0,143.0,2.0,20850.0,125000.0
161,6942b8da583c2f9957e990d028607019,NaN,shipped,2018-01-11 02:32:30,NaN,2018-02-07 00:00:00,1.0,0.0,1.0,0.0,0.0,0.0,69.12,cc419e0650a3c5ba77189a1882b7556a,perfumery,44.0,334.0,1.0,200.0,3328.0
322,4906eeadde5f70b308c20c4a8f20be02,NaN,delivered,2017-12-12 03:50:30,2018-01-09 18:04:58,2018-01-03 00:00:00,1.0,0.0,1.0,0.0,0.0,0.0,162.25,7a67c85e85bb2ce8582c35f2203ad736,cool_stuff,54.0,629.0,1.0,1050.0,19008.0
394,b7a4a9ecb1cd3ef6a3e36a48e200e3be,NaN,delivered,2017-05-20 11:35:41,2017-06-08 07:53:42,2017-06-16 00:00:00,1.0,1.0,0.0,0.0,0.0,4.0,41.10,c42fd8e4d47dfb18ce5222f2dd7752f9,furniture_decor,64.0,669.0,4.0,200.0,4096.0
402,59b32faedc12322c672e95ec3716d614,NaN,delivered,2018-06-28 02:15:51,2018-07-06 16:37:36,2018-07-26 00:00:00,1.0,0.0,1.0,0.0,0.0,0.0,87.58,850f4f8af5ea87287ac68de36e29107f,watches_gifts,18.0,796.0,2.0,750.0,2700.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
102356,0c384d67524b5b92aa2fa6c8baa9a983,NaN,delivered,2017-06-05 19:30:18,2017-06-13 14:09:21,2017-06-27 00:00:00,1.0,1.0,0.0,0.0,0.0,1.0,102.03,4a3ca9315b744ce9f8e9374361493884,bed_bath_table,54.0,245.0,1.0,1383.0,20000.0
102444,906a6b0a96d89ee226e4977e99b80b9e,NaN,delivered,2017-08-28 15:25:29,2017-09-05 19:47:44,2017-09-18 00:00:00,1.0,1.0,0.0,0.0,0.0,1.0,91.96,1dcfa3835714681d4ba4a93bc1e0fd41,furniture_living_room,29.0,104.0,2.0,2700.0,13254.0
102681,5333db16fe357175d39c82840dd3269d,NaN,delivered,2018-03-13 04:08:22,2018-04-03 15:32:52,2018-03-29 00:00:00,1.0,0.0,1.0,0.0,0.0,0.0,138.30,4c61e37f664c3c88aff092aa5ac779d7,consoles_games,51.0,936.0,2.0,157.0,1768.0
102810,2f2df159f26ddb73d55ee72372200d3e,NaN,delivered,2017-07-17 01:30:09,2017-07-26 09:44:00,2017-08-09 00:00:00,1.0,1.0,0.0,0.0,0.0,8.0,166.81,ce27a3cc3c8cc1ea79d11e561e9bebb6,electronics,31.0,736.0,3.0,800.0,42000.0
102928,dff2b9b8d7cfc595836945e1443789c3,NaN,delivered,2018-07-17 04:21:00,2018-07-20 20:41:32,2018-08-07 00:00:00,1.0,0.0,1.0,0.0,0.0,0.0,235.12,46dc3b2cc0980fb8ec44634e21d2718e,NaN,NaN,NaN,NaN,3100.0,22400.0

### <font color="orange">データを保存</font>

In [10]:
import os
save_path = "../../tmp_data_folder/2_merge_data"

# フォルダが存在しない場合に作成
if not os.path.exists(save_path):
    os.makedirs(save_path)
    print(f'フォルダ {save_path} を作成しました。')
else:
    print(f'フォルダ {save_path} は既に存在します。')

merge_data.to_csv("../../tmp_data_folder/2_merge_data/merge_data.csv", index=False)
print("merge_data.csvを保存しました")

フォルダ ../../tmp_data_folder/2_merge_data は既に存在します。
merge_data.csvを保存しました